<!doctype html>
<html ng-app="TodoApp">
	<head>
		<title>Todolovin | Todo List</title>
		<link rel="stylesheet" href="/static/css/todos.css" />
		<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
	<link rel="shortcut icon" href="static/images/favicon.ico">
	</head>
	<body>
		<h1 id="header">Todolovin</h1>
		<div id=nav>
			<ul id="nav-list">
				{% for tag in tags %}
				<li class="nav-item"><a href="/{{ tag.id }}">Tag {{ tag.id }}</a></li>
				{% endfor %}
				<li class="nav-item">
					<form id="new-tag-form" action="create-tag" method="post">
						<input type="submit" value="add tag">
					</form>
			</ul>
		</div>
		<hr />
    	<ul class="todo-list">
    		{% for todo in todos %}
    		<li>
    			<div class="todo">
    				<button class="mark-done-button">done</button>
    				<p class="done-{{todo.done}}">{{todo.created_asof}}: <em>{{todo.description}}</em></p>
		    	</div>
	    	</li>
    		{% endfor %}
    		<li>
    			<p>Add a new Todo</p>
    			<form id="new-todo-form" name="new-todo" action="create-todo" method="post">
    				<input type="text" id="desription" placeholder="description"/>
    				<br />
    				Tags:
    				<ul class="form-tags">
    					{% for tag in tags %}
    					<li>{{ tag.id }}<input label="{{ tag.id }}" type="checkbox"></input></li>
    					{% endfor %}
    				</ul>
    				<br />
    				<input type="submit" value="Create">
    			</form>
    		</li>
    	</ul>
    </body>
</html>
